version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: nest
      POSTGRES_PASSWORD: nest
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"
      - "15672:15672"

  auth-service:
    build: ../auth-service
    ports:
      - "3001:3001"
    depends_on:
      - postgres
      - rabbitmq
    environment:
      DB_HOST: postgres
      DB_USER: nest
      DB_PASS: nest
      DB_NAME: authdb
      JWT_SECRET: mysecret
